# Copy this file to ".env" and fill in your Azure OpenAI details.
# Not required if you only plan to use Demo Mode in the app.

AZURE_OPENAI_ENDPOINT=https://ai elevate.openai.azure.com
AZURE_OPENAI_API_KEY=420cf7e1e6434bc7bf60e8c180b4055f
AZURE_OPENAI_API_VERSION=2024-08-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4.1
